:root {
  // Colors
  --clr-primary: Linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --clr-errors: hsl(0, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light: hsl(270, 3%, 87%);
  --clr-dark: hsl(279, 6%, 55%);
  --clr-purple: hsl(278, 68%, 11%);

  // Typography
  --ff-primary: "Space Grotesk", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*::selection {
  //* i didn't use (--clr-purple), idk what wrong with it, you can try out with it
  background-color: rgba(177, 1, 177, 0.619);
}

html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
}
