.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

// Cards Section

.cards-container {
  background-image: url(./../img/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card {
  width: 18rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 30px;
  border: none;
  border-radius: 0.5rem;
  z-index: 10;

  &-front {
    background-image: url(./../img/bg-card-front.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem 1rem;
    top: 20%;
    left: 40%;

    &__shape {
      width: 22%;
    }

    &__content {
      max-width: 100%;
      max-width: 100%;
      color: var(--clr-white);
      display: flex;
      flex-direction: column;
      gap: 15;

      &-num {
        display: flex;
        gap: 10;
        font-size: 1.2rem;
      }

      &-info {
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
      }
    }
  }

  &-back {
    background-image: url(./../img/bg-card-back.png);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5rem;
    padding-bottom: 0.3rem;
    top: 50%;
    left: 60%;

    & > p {
      color: var(--clr-white);
      font-size: 0.7rem;
    }
  }
}

// Form Section

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 50%;
    margin-right: 40%;

    input {
      outline: none;
      border: none;
      border: 1.5px solid var(--clr-light);
      border-radius: 10px;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      font-family: var(--ff-primary);
    }

    &-name,
    &-number {
      width: 22rem;
    }

    label {
      margin-bottom: 0.5rem;
      color: var(--clr-darker);
      font-size: 0.65rem;
    }

    &-date {
      display: grid;
      grid-template-columns: repeat(2, 25%) 50%;
      &__l-dt {
        grid-column: 1/3;
      }

      &__l-cvc {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: 0.6rem;
      }

      &__dt {
        width: 5rem;
        margin-right: 1rem;
      }

      &__cvc {
        width: 10rem;
        margin-left: 0.6rem;
      }
    }
  }
}

.btn-main {
  font-family: var(--ff-primary);
  width: 22rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--clr-white);
  background-color: var(--clr-purple);
  cursor: pointer;

  &:hover {
    color: var(--clr-dark);
  }
}
