.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.blur {
  filter: blur(5);
}

// Cards Section

.cards-container {
  background-image: url(./../img/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card {
  width: 18rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 30px;
  border: none;
  border-radius: 0.5rem;
  z-index: 10;
  transition: 0.6s;

  &-front {
    background-image: url(./../img/bg-card-front.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem 1rem;
    top: 20%;
    left: 40%;

    &__shape {
      width: 22%;
    }

    &__content {
      max-width: 100%;
      max-width: 100%;
      color: var(--clr-white);
      display: flex;
      flex-direction: column;
      gap: 15;

      &-num {
        display: flex;
        gap: 5%;
        font-size: 1.2rem;
      }

      &-info {
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
      }
    }
  }

  &-anim {
    transition: 0.6;
    top: 35%;
    left: 120%;
    z-index: 20;
    filter: blur(0);
    animation: shake 2s ease 0s infinite normal none;
    @keyframes shake {
      0%,
      100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
      }
      10% {
        transform: rotate(8deg);
      }
      20%,
      40%,
      60% {
        transform: rotate(-10deg);
      }
      30%,
      50%,
      70% {
        transform: rotate(10deg);
      }
      80% {
        transform: rotate(-8deg);
      }
      90% {
        transform: rotate(8deg);
      }
    }
  }

  &-back {
    background-image: url(./../img/bg-card-back.png);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5rem;
    padding-bottom: 0.3rem;
    top: 50%;
    left: 60%;

    & > p {
      color: var(--clr-white);
      font-size: 0.7rem;
    }
  }
}

// Form Section

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}

.form {
  &__content {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 50%;
    margin-right: 40%;

    &-info1,
    &-info2 {
      display: flex;
      flex-direction: column;
    }

    &-name,
    &-number {
      width: 22rem;
    }

    & label {
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
      color: var(--clr-darker);
      font-size: 0.65rem;
    }

    &-date {
      display: flex;
      &-s1,
      &-s2 {
        display: flex;
        flex-direction: column;
      }
      &-s1 {
        & input {
          width: 5rem;
          margin-right: 0.5rem;
        }
        &-holder {
          display: flex;
        }
        & span {
          max-width: 11rem;
        }
      }
      &-s2 {
        & input {
          width: 10rem;
        }
        & span {
          max-width: 10rem;
        }
      }
    }
  }
}

.input {
  border: none;
  border: 1.5px solid var(--clr-light);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--ff-primary);

  &:focus {
    border-color: var(--clr-purple);
  }

  &::placeholder {
    color: var(--clr-dark);
  }
}

.done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  gap: 20;

  & > h1 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: lighter;
  }

  & > p {
    color: var(--clr-dark);
    margin-top: -1rem;
  }
}

// Reusable Component

.btn-main {
  font-family: var(--ff-primary);
  width: 22rem;
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: var(--clr-white);
  background-color: var(--clr-purple);
  cursor: pointer;

  &:hover {
    color: var(--clr-dark);
  }
}

.input-error-msg {
  color: var(--clr-errors);
  font-size: 0.6rem;
  text-transform: none;
  margin-top: 0.4rem;
}

.input-error {
  border-color: var(--clr-errors);
}

.credits {
  position: absolute;
  top: 95%;
  left: 45%;
  font-size: 0.8rem;
  font-family: serif;
  & > a {
    text-decoration: none;
    color: purple;
  }
}

// BreakPoints

//! Meduim screens
@media screen and (max-width: 1050px) {
  .card {
    transition: 0.6s;
    &-front {
      top: 20%;
      left: -15%;
      transform: rotate(90deg);
      z-index: 20;
    }

    &-back {
      top: 40%;
      left: -5%;
      transform: rotate(90deg);
    }
  }

  .form {
    &__content {
      margin: 0%;
      margin-right: 5rem;
    }
  }

  .done {
    margin: 0;
    margin-right: 1.5rem;
  }
}

//! Small screens

@media screen and (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-area: 30% 70%;
  }

  .card {
    width: 12rem;
    height: 7rem;
    transition: 0.6s;
    &-front {
      transform: rotate(0deg);
      top: 50%;
      left: 5%;
      z-index: 20;
    }

    &-back {
      transform: rotate(0deg);
      top: 10%;
      left: 20%;
      padding-right: 1rem;
      padding-bottom: 0.2rem;
    }

    &-anim {
      top: 150%;
      left: 20%;
      z-index: 100;
    }
  }

  .card-front__content-num {
    font-size: 0.8rem;
  }

  .form {
    &__content {
      margin: 0%;
      &-name,
      &-number {
        width: 20rem;
      }
      &-date {
        &__l-cvc {
          margin-left: 0.6rem;
        }

        &__month,
        &__year {
          width: 4.5rem;
          margin-right: 1rem;
        }

        &__cvc {
          width: 9rem;
        }
      }
    }
  }

  .btn-main {
    width: 20rem;
  }

  .credits {
    left: 35%;
  }
}
